html{
  overflow-y:hidden;
}

body {
  font-family: 'Courier', monospace;
  line-height: 1.6;
  color: #fff;
  margin: 0;
}

#background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: auto; /* Adicione esta linha */
}

a {
  color: #ffffff;
}

a:hover {
  color: #cccccc;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  z-index: 2; /* Adicione esta linha */
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  padding-top: 4em;
  font-size: 14px;
}

.job-title {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: #ccc;
}

li p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.dates {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  color: #ccc;
}

section {
  padding: 2em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

p, ul {
  font-size: 1.1em;
}

.hidden {
  visibility: hidden;
  position: absolute;
  width: 100%;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger-menu span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color:#fff;
  }

  nav ul {
    display: none;
  }

  .nav-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 3rem;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
  visibility: visible;
  position: static;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
  visibility: visible;
  position: static;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.carousel {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 70%;
  height: 70%;
}

.carousel-item {
  display: none;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.carousel-item.active {
  display: flex;
}

.carousel-item img {
  flex-shrink: 0;
  margin-right: 3rem;
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  margin: 0 10px; /* Adicione esta linha */
}

.carousel-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}


.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel {
    width: 90%;
    height: auto;
  }
  
  .carousel-item img {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
  }
}

@media (max-width: 480px) {
  .carousel {
    width: 100%;
    height: auto;
  }
  
  .carousel-item {
    flex-direction: column; /* Coloca o texto abaixo da imagem */
    align-items: center; /* Centraliza o conteúdo */
  }
  
  .carousel-item img {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 0.5rem; /* Adiciona uma margem abaixo da imagem */
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Posicione o seletor de idiomas no canto superior direito */
.language-selector {
  top: 10px;
    right: 10px;
    width: 80px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0); /* Opacidade atualizada para 0 */
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

/* Aparência do seletor de idiomas quando em foco */
.language-selector:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

/* Aparência das opções do seletor de idiomas */
.language-selector option {
  color: #000;
  background-color: rgba(0, 0, 0, 0); /* Opacidade atualizada para 0 */
}

/* Aparência das opções do seletor de idiomas ao passar o mouse */
.language-selector option:hover {
  background-color: #f8f9fa;
}

